<h1>Login</h1>
<form action="/register" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
    </div>
    <div>
        <label for="pawword">Password</label>
        <input type="text" id="pawword" name="pawword" required>
    </div>
    <button type="submit">Login</button>
</form>
<a href="/register">Register</a>
